body {
    background: lightblue;
}
#burger {
    color: orange;
}
#onions {
    color: green;
}
#fries {
    color: red;
}
.strawberry {
    background: red;
}
.blueberry {
    background: blue;
}
/* p {
    background: blue;
    padding: 10px;
} */

